# Server Configuration
PORT=3000

# Osu! API Configuration
# Get these from https://osu.ppy.sh/home/account/edit#new-oauth-application
OSU_CLIENT_ID=your_osu_client_id
OSU_CLIENT_SECRET=your_osu_client_secret

# Database Configuration
PG_HOST=localhost
PG_PORT=5432
PG_USERNAME=postgres
PG_PASSWORD=your_password
